@import "../colors.scss";
@import "../mixins.scss";

.ch-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ch-carousel__arrow {

}

.ch-carousel__arrow--left {
  background-image: url(../images/long-left-arrow.png);
  margin-right: 55px;
}

.ch-carousel__arrow--right {
  background-image: url(../images/long-right-arrow.png);
  margin-left: 55px;
}

.ch-carousel__container {
  display: flex;
}

.ch-carousel__item {
  background-color: $colorBackgroundLight;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  pointer-events: none;
}

.ch-carousel__item:hover {
  box-shadow: 0px 0px 26px 2px rgba(241, 241, 241, 0.75);
  background-color: $colorCarouselBackgroundHover;
}

.ch-carousel-item__image {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 270px;
  height: 270px;
  background-position: center center;
  background-repeat: no-repeat;
}

// Zakomentirano jer trenutno ne treba
//.ch-carousel-item__image--1 {
//  background-image: url("../images/Katrine.png");
//}
//
//.ch-carousel-item__image--2 {
//  background-image: url("../images/Jennifer.png");
//}
//
//.ch-carousel-item__image--3 {
//  background-image: url("../images/Woody.png");
//}


.ch-carousel__item {
  display: none;
}

.ch-carousel__item:nth-child(1) {
  display: flex;
}

.ch-carousel__item:nth-child(2) {
  display: flex;
}

.ch-carousel__item:nth-child(3) {
  display: flex;
}

@media(max-width: 1200px) {
  .ch-carousel__item:nth-child(3) {
    display: none;
  }
}

@media(max-width: 875px) {
  .ch-carousel__item:nth-child(2) {
    display: none;
  }
}

@media(max-width: 560px) {
  .ch-carousel__arrow--left {
    margin-right: 0;
  }
  .ch-carousel__arrow--right {
    margin-left: 0;
  }
}


.ch-carousel-item__title {
  margin-bottom: 24px;
  font-family: Georgia, serif;
  font-size: 20px;
  color: $colorText;
}

.ch-carousel-item__more {
  margin-bottom: 34px;
  width: 188px;
  height: 52px;
  font-family: Georgia, serif;
  font-size: 17px;
  color: $colorTextButton;
  border: 2px solid $colorBackgroundButton;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  pointer-events: auto;
  @include backgroundEase;
}

.ch-carousel-item__more:hover {
  @include buttonHover;
}
