@import "../colors.scss";
@import "../mixins.scss";

.ch-window__modal-container {
  @include modal;
  display: none;
  align-items: center;
  justify-content: center;
}

.ch-window__modal-container--active {
  display: flex;
}

.ch-window__container {
}

.ch-window-close__container {
  display: flex;
  justify-content: flex-end;
}

.ch-window__close {
  position: absolute;
}

.ch-window__close--close {
  background-image: url(../images/cancel.png);
}

.ch-window {
  background-color: $colorBackgroundLight;
  border-radius: 10px;
  max-width: 900px;
  min-height: 470px;
  display: flex;
  margin: 48px;
}

.ch-window__image {
  max-width: 470px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  width: 470px;
  height: 470px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

// Zakomentirano jer trenutno ne treba
//.ch-window__image--1 {
//  background-image: url(../images/window-image-2.png);
//}

//.ch-window__image--2 {
//  background-image: url(../images/window-image-1.png);
//}

.ch-window__description {
  max-width: 450px;
  margin-left: 40px;
  margin-right: 40px;

  display: flex;
  justify-content: center;
  flex-direction: column
}

.ch-window__name {
  font-family: Georgia, serif;
  font-size: 35px;
  color: $colorText;
}

.ch-window__breed {
  margin-top: 18px;
  font-family: Georgia, serif;
  font-size: 20px;
  color: $colorText;
}

.ch-window__story {
  line-height: 24px;
  margin-top: 33px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: $colorTextDescription;
}

.ch-window__list {
  margin-top: 32px;
}

.ch-window__item {
  display: flex;
  align-items: baseline;
}

.ch-window-item__text {
  font-family: Georgia, serif;
  font-size: 17px;
  color: $colorText;
}

.ch-window-item__value {
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-indent: 10px;
  color: $colorText;
}

@media (max-width: 900px) {
  .ch-window__close {
    margin-left: -10px;
    margin-top: 10px;
  }
  .ch-window {
    flex-direction: column;
    margin: auto;
  }
  .ch-window__image {
    max-height: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .ch-window__description {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  .ch-window__breed {
    margin-top: 10px;

  }
  .ch-window__story {
    line-height: normal;
    margin-top: 10px;
  }
}