@import "colors.scss";
@import "mixins.scss";

.ch-about__container {
  @include margin;
  background-color: $colorBackgroundLight;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
  flex-wrap: wrap;
}

.ch-about__image {
  background-image: url(images/pets.png);
  width: 300px;
  height: 408px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
  margin-left: 40px;
}

.ch-about__description {
  margin-right: 40px;
  margin-left: 40px;
}

.ch-about__title {
  font-family: Georgia, serif;
  font-size: 35px;
  color: $colorText;
  letter-spacing: 2px;
  max-width: 320px;
  margin-top: 40px;
}

.ch-about__info {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color:$colorTextDescription;
  max-width: 430px;
  margin-top: 40px;
}

.ch-about__info--intro {

}

.ch-about__info--full {

}

@media (max-width: 700px) {
  .ch-about__description {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .ch-about__info {
    margin-left: 40px;
    margin-right: 40px;
  }
}