@import "colors.scss";
@import "mixins.scss";

.ch-button__circle{
  border: 2px solid $colorBackgroundButton;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  @include backgroundEase;
}


.ch-button__circle:hover {
  @include buttonHover;
}
