// Paleta preuzeta sa https://dribbble.com/shots/4094909-Shelter. Ne odgovara PSD-u, wtdf O_o
//$color1: #332B28;
//$color2: #9A7860;
//$color3: #A7A2A0;
//$color4: #D9DCD9;
//$color5: #FDDCC4;
//$color6: #A18D7E;
$color7: #C8A584;

$colorBackgroundBlack: #000000;
$colorBackgroundLight: #FAFAFA;
$colorBackgroundLightAlt: #F6F6F6;
$colorText: #545454;
$colorTextWhite: #FFFFFF;
$colorTextDescription: #4C4C4C;
$colorBackgroundButton: #F1CDB3; // Uz background-color, koristi se i za color i border-color.
$colorTextButton: #292929;
$colorCarouselBackgroundHover: #FBFBFB;
$colorTextDescriptionAlt: #CDCDCD;


