@import "colors.scss";
@import "mixins.scss";

.ch-donation__container {
  @include margin;
  background-color: $colorBackgroundLightAlt;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 86px;
  flex-wrap: wrap;
}

.ch-donation__image {
  background-image: url(images/donation.png);
  width: 505px;
  height: 261px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
  margin-left: 40px;
}

.ch-donation__description {
  margin-left: 40px;
  margin-right: 40px;
  width: 370px;
}

.ch-donation__title {
  font-family: Georgia, serif;
  font-size: 35px;
  color: $colorText;
  letter-spacing: 2px;
  margin-top: 40px;
}

.ch-donation__bank {
  margin-top: 35px;
}

.ch-donation-bank__data {
  font-family: Georgia, serif;
  font-size: 15px;
  color: $colorText;
}

.ch-donation-bank__number {
  margin-top: 15px;
  background-color: $colorBackgroundButton;
  width: 320px;
  height: 48px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.ch-bank-card__icon {
  background-image: url(images/donation-credit-card.png);
  width: 30px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.ch-bank-card__number {
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Times New Roman", serif;
  font-size: 20px;
  color: $colorTextButton;
  letter-spacing: 1px;
}

.ch-donation-bank__note {
  margin-top: 33px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: $colorTextDescriptionAlt;
  font-style: italic;
}