@import "colors.scss";
@import "mixins.scss";

.ch-footer__container {
  background-image: url(images/footer-image.png), url(images/footer-pattern.png);
  background-position: 85% bottom, left;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: $colorBackgroundBlack;
  display: flex;
  align-items: center;
  justify-content: center;
  @include margin;
}

.ch-footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ch-footer__column {
  flex: 1;
  padding: 40px;
  min-width: 400px;
}

.ch-footer-column__title {
  font-family: Georgia, serif;
  font-size: 35px;
  color: $colorTextWhite;
  letter-spacing: 1px;
  max-width: 290px;
}

.ch-footer-column__items {
  padding-top: 15px;
}

.ch-footer-column__item {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.ch-footer-item-icon {
  background-position: center;
  background-repeat: no-repeat;
}

.ch-footer-item-icon--email {
  background-image: url(images/email.png);
  min-width: 40px;
  height: 26px;

}

.ch-footer-item-icon--tel {
  background-image: url(images/telephone.png);
  min-width: 40px;
  height: 32px;
}

.ch-footer-item-icon--location {
  background-image: url(images/pin.png);
  min-width: 26px;
  height: 36px;
}

.ch-footer-item__text {
  margin-left: 20px;
  font-family: "Times New Roman", serif;
  font-size: 20px;
  color: $colorBackgroundButton;
  min-height: 40px;
  display: flex;
  align-items: center;
  max-width: 270px;
}
