@import "colors.scss";
@import "mixins.scss";

.ch-header__container {
  height: 100vh;
  display: flex;
  background-color: $colorBackgroundBlack;
  background-image: url(images/beta.png), url(images/alpha.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  @include margin;
  @include backgroundEase;
}

.ch-header__block {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
}

.ch-block__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ch-logo__container {

}

.ch-logo {

}

.ch-logo__title {
  color: $colorBackgroundButton;
  font-size: 32px;
  font-family: Georgia, serif;
  margin-bottom: 10px;
}

.ch-logo__description {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: $colorTextWhite;
}

.ch-description__container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ch-header__description {
  flex: 1;
}

.ch-description__title {
  color: $colorTextWhite;
  font-size: 44px;
  font-family: Georgia, serif;
  letter-spacing: 2px;
  max-width: 370px;
}

.ch-description__description {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: $colorTextDescriptionAlt;
  margin-top: 40px;
  max-width: 470px;

}

.ch-description__button {
  margin-top: 40px;
  width: 205px;
  height: 52px;
  background-color: $colorBackgroundButton;
  color: $colorTextButton;
  font-family: Georgia, serif;
  font-size: 17px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  //letter-spacing: 2px;
  cursor: pointer;
  @include backgroundEase;
}

.ch-description__button:hover {
  @include buttonHoverLighten;
}

.ch-menu__container {
}


.ch-menu {
  display: flex;
  height: 60px;
  align-items: center;
}


.ch-menu__item {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: $colorTextDescriptionAlt;
  margin-left: 40px;
  line-height: 22px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
  @include backgroundEase;
}


.ch-menu__item a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

.ch-menu__item--active {
  color: $colorTextWhite;
  border-bottom: 3px solid $colorBackgroundButton;
}

.ch-menu__item:hover {
  color: $colorTextWhite;
  border-bottom: 3px solid $colorBackgroundButton;
}

// region Fixed header
.ch-header__container--fixed {
  padding-right: 0;
  padding-left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0px 1px 3px 0px $color7;
  margin-bottom: 3px;

  .ch-logo__container {
    padding-left: 335px;
  }

  .ch-menu__container {
    padding-right: 335px;
  }

  .ch-description__container {
    display: none;
  }

  .ch-header__block {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width: 1366px) {
    .ch-logo__container {
      padding-left: 0;
    }

    .ch-menu__container {
      padding-right: 0;
    }
  }

  @media (max-width: 740px) {
    height: 160px;
  }

}

.ch-header__container--fixed + .ch-content {
  padding-top: 200px;
}


@media (max-width: 740px) {
  .ch-header__container--fixed + .ch-content {
    padding-top: 240px;
  }

}

// endregion


@media (max-width: 800px) {
  .ch-block__container {
    flex-wrap: wrap;
  }

  .ch-menu__item:first-of-type {
    margin-left: 0;
  }

  .ch-menu__container {
    padding-top: 10px;
  }

  .ch-header__description {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .ch-menu {
    flex-wrap: wrap;
  }
  .ch-menu__item {
    margin-left: 10px;
  }
}

