@import "colors.scss";
@import "mixins.scss";

.ch-help__container {
  @include margin;
  background-color: $colorBackgroundLight;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ch-help__title {
  font-family: Georgia, serif;
  font-size: 35px;
  color: $colorText;
  width: 370px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.ch-help__items {
  max-width: 1150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.ch-help__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
  min-width: 150px;
}

.ch-help__icon {
}

.ch-help__text {
  margin-top: 30px;
  font-family: Georgia, serif;
  font-size: 20px;
  color: $colorText;
}

.ch-help__icon--pet-food {
  background-image: url(images/help-pet-food.png);
  width: 45px;
  height: 57px;
}

.ch-help__icon--transportation {
  background-image: url(images/help-transportation.png);
  width: 65px;
  height: 65px;
}

.ch-help__icon--toys {
  background-image: url(images/help-toys.png);
  width: 58px;
  height: 58px;
}

.ch-help__icon--bowls-and-cups {
  background-image: url(images/help-bowls-and-cups.png);
  width: 58px;
  height: 55px;
}

.ch-help__icon--shampoos {
  background-image: url(images/help-shampoos.png);
  width: 30px;
  height: 58px;
}

.ch-help__icon--vitamins {
  background-image: url(images/help-vitamins.png);
  width: 64px;
  height: 57px;
}

.ch-help__icon--medicines {
  background-image: url(images/help-medicines.png);
  width: 58px;
  height: 58px;
}

.ch-help__icon--collars-leashes {
  background-image: url(images/help-collars-leashes.png);
  width: 65px;
  height: 57px;
}

.ch-help__icon--sleeping-area {
  background-image: url(images/help-sleeping-area.png);
  width: 54px;
  height: 57px;
}