@import "colors.scss";

// 375 - 40
@mixin margin {
  padding-right: 335px;
  padding-left: 335px;

  @media (max-width: 1366px) {
    padding-right: 0;
    padding-left: 0;
  }
}


@mixin backgroundEase {
  transition: background-color 0.5s ease;
}

@mixin modal {
  //display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; // 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

@mixin buttonHover {
  background-color: $colorBackgroundButton;
}

@mixin buttonHoverLighten {
  background-color: lighten($colorBackgroundButton, 5%);
}