@import "colors.scss";
@import "mixins.scss";

.ch-pets__container {
  background-color: $colorBackgroundLightAlt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include margin;
}

.ch-pets__title {
  font-family: Georgia, serif;
  font-size: 35px;
  text-align: center;
  max-width: 400px;
  color: $colorText;
  letter-spacing: 2px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.ch-pets__more {
  background-color: $colorBackgroundButton;
  width: 266px;
  height: 52px;
  font-family: Georgia, serif;
  font-size: 17px;
  color: $colorTextButton;
  margin-bottom: 70px;
  margin-top: 70px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include backgroundEase;
}

.ch-pets__more:hover {
  @include buttonHoverLighten;
}